<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Portal Users TimeSheet</h2>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="font-size: large;">
            <div class="row">
                <div class="col-md-9">
                    <p>
                        This module facilitates Portal Employees to record each activity and their work logs in a structural way without interacting with the backend side..
                    </p>
                    <p>
                        Portal Employees can easily group their work activities by their assigned Projects and Tasks.
                    </p>
                    <p>
                        Also Effective search functionality can give them advantage to search their Timesheets by Projects, Tasks, Employees and Date.
                    </p>
                    <p>
                        Specially Employees doing their field work and outside of office can easily fillup their working activities and can submit it to their project manager.
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="box_data" style="background-color:#F0F4F7;color: #875A7B">
                        <h4 style="text-align: center;padding-top: 15px;">This module is compatible with</h4>
                        <ul style="padding: 20px;">
                            <li class="Community" style="list-style: none;margin-bottom: 15px;">
                                <span style="margin-right: 10px;"><img src="tick.svg" style="width: 25px;height: 25px;"/></span>
                                <span>Community</span>
                            </li>
                            <li class="Enterprise" style="list-style: none;margin-bottom: 15px;">
                                <span style="margin-right: 10px;"><img src="tick.svg" style="width: 25px;height: 25px;"/></span>
                                <span>Enterprise</span>
                            </li>
                            <li class="odoo_sh" style="list-style: none;margin-bottom: 15px;">
                                <span style="margin-right: 10px;"><img src="tick.svg" style="width: 25px;height: 25px;"/></span>
                                <span>Odoo.sh</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <h2 class="oe_slogan"><img src="checklist.png" height="45px" width="45px"> Key Features</h2>
        <div class="oe_span12" style="font-size: large;width:100%;">
            <ul>
                <div>
                    <i class="fa fa-check" style="color: #cd2d47;font-size: 15px;"/> Users are able to Create, Edit and Delete their Time sheets.
                </div>
                <div>
                    <i class="fa fa-check" style="color: #cd2d47;font-size: 15px;"/> Search Time sheets by Project, Employee, Task and Date.
                </div>
                <div>
                    <i class="fa fa-check" style="color: #cd2d47;font-size: 15px;"/> Filter Time sheets by Projects, Tasks and Employees
                </div>
                <div>
                    <i class="fa fa-check" style="color: #cd2d47;font-size: 15px;"/> No need to create an Internal User for an Employee. Only by the portal user, you can manage Time sheet entry.
                </div>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h2 class="oe_slogan"><img src="configuration.png" height="45px" width="45px"> Configuration</h2>
            <h3 class="oe_slogan">At the time of users creation portal user rights will be given to them.</h3>
            <div class="oe_span12" style=" margin-top: 15px;width: 100%;">
                <img src="portal_user.png" style="width: 100%; height: auto; margin: auto; border: 1px solid">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h2 class="oe_slogan"><img src="tasks.png" height="45px" width="45px"> User Assignation with an Employee</h2>
            <h3 class="oe_slogan">After users creation users will be related to their respected employees.</h3>
            <div class="oe_span12" style=" margin-top: 15px;width: 100%;">
                <img src="related_user.png" style="width: 100%; height: auto; margin: auto; border: 1px solid">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h2 class="oe_slogan"><img src="responsive.png" height="45px" width="45px"> Time sheet Management From Website</h2>
            <h3 class="oe_slogan">Project Managers and Portal users can manage their time sheets from the website portal.</h3>
            <div class="oe_span12" style=" margin-top: 15px;width: 100%;">
                <img src="timesheet.png" style="width: 100%; height: auto; margin: auto; border: 1px solid">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h2 class="oe_slogan"><img src="create.png" height="45px" width="45px"> Create a New Time sheet</h2>
            <h3 class="oe_slogan">Project Managers and Portal users can create time sheets by clicking on "Create New Timesheet" button.</h3>
            <div class="oe_span12" style=" margin-top: 15px;width: 100%;">
                <img src="create_timesheet.png" style="width: 100%; height: auto; margin: auto; border: 1px solid">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h2 class="oe_slogan"><img src="edit.png" height="45px" width="45px"> Edit Time sheets</h2>
            <h3 class="oe_slogan">Project Managers and Portal users can easily edit contents like Description, Date, Duration, Project, Task, etc.</h3>
            <div class="oe_span12" style=" margin-top: 15px;width: 100%;">
                <img src="edit_time_sheet.png" style="width: 100%; height: auto; margin: auto; border: 1px solid">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h2 class="oe_slogan"><img src="delete.png" height="45px" width="45px"> Delete Time sheets Records</h2>
            <h3 class="oe_slogan">Project Managers and Portal users can delete time sheets record by clicking on Delete icon.</h3>
            <div class="oe_span12" style=" margin-top: 15px;width: 100%;">
                <img src="delete_timesheet.png" style="width: 100%; height: auto; margin: auto; border: 1px solid">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h2 class="oe_slogan"><img src="groupby.png" height="45px" width="45px"> Apply GroupBy on Time sheets</h2>
            <h3 class="oe_slogan">Project Managers and Portal users can group their Time sheets by their assigned Tasks.</h3>
            <div class="oe_span12" style=" margin-top: 15px;width: 100%;">
                <img src="groupby_task.png" style="width: 100%; height: auto; margin: auto; border: 1px solid">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h3 class="oe_slogan">Project Managers and Portal users can group their Time sheets by their assigned Projects.</h3>
            <div class="oe_span12" style=" margin-top: 15px;width: 100%;">
                <img src="groupby_project.png" style="width: 100%; height: auto; margin: auto; border: 1px solid">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h3 class="oe_slogan">Project Managers and Portal users can group their Time sheets by Employees.</h3>
            <div class="oe_span12" style=" margin-top: 15px;width: 100%;">
                <img src="groupby_employee.png" style="width: 100%; height: auto; margin: auto; border: 1px solid">
            </div><br/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h2 class="oe_slogan"><img src="search.png" height="45px" width="45px"> Search Functionality</h2>
            <h3 class="oe_slogan">Project Managers and Portal users can search time sheets by their time sheets records.</h3>
            <div class="oe_span12" style=" margin-top: 15px;width: 100%;">
                <img src="search_functionality.png" style="width: 100%; height: auto; margin: auto; border: 1px solid">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h3 class="oe_slogan">Project Managers and Portal users can search Time sheets by their assigned Projects.</h3>
            <div class="oe_span12" style=" margin-top: 15px;width: 100%;">
                <img src="searchby_project.png" style="width: 100%; height: auto; margin: auto; border: 1px solid">
            </div><br/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h3 class="oe_slogan">Project Managers and Portal users can search Time sheets by Employees working under them.</h3>
             <div class="oe_span12" style=" margin-top: 15px;width: 100%;">
                <img src="searchby_employee.png" style="width: 100%; height: auto; margin: auto; border: 1px solid">
            </div><br/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h3 class="oe_slogan">Project Managers and Portal users can search Time sheets by their assigned Tasks.</h3>
            <div class="oe_span12" style=" margin-top: 15px;width: 100%;">
                <img src="searchby_task.png" style="width: 100%; height: auto; margin: auto; border: 1px solid">
            </div><br/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h3 class="oe_slogan">Project Managers and Portal users can search Time sheets by Date and Month.</h3>
            <div class="oe_span12" style=" margin-top: 15px;width: 100%;">
                <img src="searchby_date.png" style="width: 100%; height: auto; margin: auto; border: 1px solid">
            </div><br/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
             <h2 class="oe_slogan"><a href="http://www.synconics.com/" style="color: #000000 !important;">Suggested Products</a></h2>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</section>

<section class="oe_container">
    <div id="slider_data" class="row carousel slide mt64 mb32" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="min-height: 0px;">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;
                ">
                    <a href="https://apps.odoo.com/apps/modules/12.0/portal_users_timesheet/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;text-align: center;">
                           <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;    height: 125px;" src="portal_users_leaves_holidays.png">
                           <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                              Portal User Leaves
                           </h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item active" style="min-height: 0px;">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;
                ">
                    <a href="https://apps.odoo.com/apps/modules/12.0/sync_web_sale_promotion/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;text-align: center;">
                           <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;    height: 125px;" src="sync_web_sale_promotion.png">
                           <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                              Sale Promotions for E-Commerce
                           </h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item active" style="min-height: 0px;">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;
                ">
                    <a href="https://apps.odoo.com/apps/themes/12.0/allure_backend_theme/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;text-align: center;">
                           <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;    height: 125px;" src="allure_backend_theme.png">
                           <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                              Allure Backend Theme
                           </h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 0px;">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;
                ">
                    <a href="https://apps.odoo.com/apps/themes/11.0/uppercrust_backend_theme/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;text-align: center;">
                           <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;    height: 125px;" src="uppercrust_backend_theme.jpeg">
                           <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                              Uppercrust Backend Theme (With Global Search)
                           </h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 0px;">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;
                ">
                    <a href="https://www.odoo.com/apps/themes/12.0/sync_web_nightmode/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;text-align: center;">
                           <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;    height: 125px;" src="sync_web_nightmode.png">
                           <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                              Night mode
                           </h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 0px;">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;
                ">
                    <a href="https://apps.odoo.com/apps/themes/11.0/uppercrust_backend_theme_wogs/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;text-align: center;">
                           <img class="img img-responsive center-block" style="border-top-left-radius: 10px;border-top-right-radius: 10px;    height: 125px;" src="uppercrust_backend_theme_wogs.png">
                           <h4 class="mt0" style="padding:6% 4%;text-align: center;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                              Uppercrust Backend Theme (Without Global Search)
                           </h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#slider_data" data-slide="prev" style="left:-25px;width: 35px;color: #000;">
        <span class="carousel-control-prev-icon"><i class="fa fa-chevron-left" style="font-size:24px"></i></span>
        </a>
        <a class="carousel-control-next" href="#slider_data" data-slide="next" style="right:-25px;width: 35px;color: #000;">
        <span class="carousel-control-next-icon"><i class="fa fa-chevron-right" style="font-size:24px"></i></span>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced" style="width: 100%;">
        <div class="oe_span12" style="width: 100%;">
            <h2 class="oe_slogan">Free Support</h2>
        </div>
        <div class="oe_span12" style="width: 100%;">
            <span>1) One month free bug support period will be offered pertaining to any one server used, testing or live.</span><br/>
            <span>2) If an error appears in our app due to other custom modules installed in your system, we will charge for our efforts to resolve those errors. </span><br/>
            <span>3) Please refer the document for configuration. If you need our support for configuration, please request our paid support. </span><br/>
            <span>4) Please note that you are not allowed to distribute or resell this module after purchase. </span><br/>
            <span>5) This module is tested and working on Odoo vanilla with Ubuntu OS. </span><br/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan"><a href="https://support.synconics.com/helpdesk/support-1/submit" style="color: #000000 !important;"> Get Help & Support</a></h2>
        </div>
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn btn-success mt8" title="Get Help !" style="background-color: rgb(31, 16, 140); color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="https://support.synconics.com/helpdesk/support-1/submit"><span class="o_ripple" style="height: 61px; width: 61px; top: -12.9688px; left: -8.76562px;"></span> Help & Support </a>&nbsp;&nbsp;
            <a class="btn btn-success mt8" title="Request New Features now !" style="background-color: rgb(31, 16, 140); color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="http://www.synconics.com/opensource-erp-implementation-odoo-partner-india-gujarat-ahmedabad-expert-company-contact-us/"> Request New Features </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_slogan oe_spaced">
            <span style="font-size: 20px">Checkout Other Apps Developed By Synconics Technologies <a href="https://apps.odoo.com/apps/modules/browse?search=synconics">Click Here</a></span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="float: none;">
            <h2 class="oe_slogan"><a href="http://www.synconics.com/" style="color: #000000 !important;"> Our Services</a></h2>
        </div>
        <div class="oe_menu" style="display: flex;justify-content: center;align-items: center;flex-wrap: wrap;">
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-onpremise-cloudhosting-installation-expert/">Odoo ERP Installation</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-version-legacy-system-migration-upgradation-expert/">Odoo ERP Migration</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organizational-digital-stratagy-legacy-system-transformation-modernisation/">Digital Stratagy</a>
            </li>

            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-module-configuration-setting-expert/">Odoo ERP configuration</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-onsite-onpremise-remote-working-monthly-projectwise-dedicated-functional-technical-expert-resources/">Odoo ERP Staffing</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organizational-business-process-reengineering-digital-transformation-system-application-technology-selection/">Digital Technology Selection</a>
            </li>

            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-module-customization-expert/">Odoo ERP Customization</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-onpremise-remote-functional-training-by-expert-trainers/">Odoo Functional Training</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organisational-digital-transformation-system-application-technology-selection-implementation/">Digital Transformation Implementation</a>
            </li>

            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-new-module-product-development-expert/">Odoo ERP New Module Development</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-onpremise-remote-technical-training-by-expert-trainers/">Odoo ERP Technical Training</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organizational-business-process-reengineering-digital-transformation-legacy-system-application-technology-migration-modernisation/">Legacy Modernization</a>
            </li>

            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-integration-e-commerce-payment-gateway-document-management-shipping-accounting/">Odoo ERP Integrations</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-expert-support-services/">Odoo ERP Support</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organizational-business-process-reengineering-digital-transformation/">Organizational Transformation</a>
            </li>

        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced text-center">
        <div class="oe_span12">
            <span style="font-size: 20px;text-align: right;"><h2 class="oe_slogan"><a href="http://www.synconics.com/" style="color: #000000 !important;"> Our Contact Details</a></h2></span>
            <span class="o_ripple" style="background-color: rgb(31, 16, 140); color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;height: 61px; width: 61px; top: -12.9688px; font-size: 18px;text-align: right;padding: 6px 12px;border-radius: 4px;border: 1px solid transparent;border-color: #4cae4c;z-index:1;">
                     E-mail :
                    <a href="http://www.synconics.com/opensource-erp-implementation-odoo-partner-india-gujarat-ahmedabad-expert-company-contact-us/" style="color: rgb(255, 255, 255) !important;">contact@synconics.com</a> |
                    Skype : synconics.technologies  |
                    Mobile : +91-942-686-4274

            </span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <span style="font-size: 20px">For product demo, please generate a ticket and mention your preferred time and date. Please make sure the demo timing you mentioned are as per Indian Standard Time (IST), between 10:30 AM to 7:00 PM (IST), Monday to Friday.</span>
        </div>
    </div>
</section>
